<div class="card" style="margin: 10px">
	{{!-- <div class="card-header">
		{{category}}
	</div> --}}
	<img src="/staticFiles/img/{{img}}" class="card-img-top" alt="..." />
	<div class="card-body">
		<h5 class="card-title mb-3">{{title}}</h5>
		<blockquote class="blockquote mb-1">
			<footer class="blockquote-footer fs-6">
				<cite title="Source Title">{{subtitle}}</cite></footer>
		</blockquote>
		<p class="card-text">{{body}}</p>
		<a href="/delete_entry?id={{_id}}" class="btn btn-primary">Delete entry</a>
	</div>
</div>