{{!-- <h1>{{title}}</h1> --}}
{{!-- <div>
	<p>{{categories}}</p>
	<p>{{categories.0.name}}</p>
	<p>{{categories.1.name}}</p> 
	{{>entry_form categories}}
</div> --}}

<form action="/form/entry_form" method="POST">
	<div class="form-group">
		<label for="exampleInputEmail1">Title:</label>
		<input
			type="text"
			name="title"
			class="form-control"
			id="title"
			placeholder=""
		/>
	</div>
	<div class="form-group">
		<label for="exampleInputEmail1">Subtitle:</label>
		<input
			type="text"
			name="subtitle"
			class="form-control"
			id="subtitle"
			placeholder=""
		/>
	</div>
	<div class="form-group">
		<label for="exampleInputEmail1">Entry:</label>
		<input
			type="text"
			name="body"
			class="form-control"
			id="exampleInputEmail1"
			placeholder=""
		/>
	</div>
	<div class="form-group">
		<label for="exampleInputEmail1">Hastag:</label>
		<input
			type="text"
			name="hastag"
			class="form-control"
			id="hastag"
			placeholder=""
		/>
	</div>
	<p></p>
	<select name="id" class="form-select" aria-label="Default select example">
		<option value="" selected>Select a category</option>
		{{#each categories}}
			{{#with this}}
				<option value={{_id}}>{{name}}</option>
			{{/with}}
		{{/each}}
	</select>
	<p></p>
	<button type="submit" class="btn btn-primary">Add entry</button>
</form>
<a href="/">Back</a>